<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Off_Grid_Hydroponic_PVPlanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Off_Grid_Hydroponic_PVPlanner_10_11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4A4E6891DA1CA2E00B5FC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A4E69A1DA1CA2F00B5FC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A4E6A51DA1CA2F00B5FC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
